<%= form_with(model: [@quiz, question]) do |form| %>
  <%= form_errors question %>

  <fieldset>
    <%= form.label :text %>
    <%= form.textarea :text, required: true %>

    <%= form.label :points %>
    <%= form.number_field :points, min: 0 %>

    <%= form.label :duration %>
    <%= form.number_field :duration, min: 30 %>

    <%= form.label :image %>
    <%= form.file_field :image %>
  </fieldset>

  <div class="form-controls-container">
    <%= back_button %>
    <%= form.submit %>
  </div>
<% end %>
