<%= form_with(model: [@quiz, question]) do |form| %>
  <%= form_errors question %>

  <%= form.label :text, style: "display: block" %>
  <%= form.textarea :text %>

  <%= form.label :points, style: "display: block" %>
  <%= form.number_field :points, min: 0 %>

  <%= form.label :duration, style: "display: block" %>
  <%= form.number_field :duration, min: 30 %>

  <%= form.label :image, style: "display: block" %>
  <%= form.file_field :image %>

  <div class="form-controls-container">
    <%= back_button %>
    <%= form.submit %>
  </div>
<% end %>
