<%= form_with(model: [@quiz, question]) do |form| %>
  <%= form_errors question %>

  <fieldset>
    <%= form.label :text %>
    <%= form.textarea :text, required: true %>

    <%= form.label :points %>
    <%= form.number_field :points, min: 0, max: 10 %>

    <%= form.label :duration %>
    <%= form.number_field :duration, min: 10, max: 100 %>

    <%= form.label :image %>
    <% if question.image.representable? %>
      <%= image_tag question.image.representation(resize_to_limit: [500, 500]), alt: "Question Image" %>
    <% end %>
    <%= form.file_field :image %>
  </fieldset>

  <div class="form-controls-container">
    <%= back_button %>
    <%= form.submit %>
  </div>
<% end %>
