<h1 style="color: green">Questions#Show</h1>

<h3>Answers</h3>

<div id="answers">
  <% @answers.each do |answer| %>
    <div style="border: 0.5px solid gray; padding: 5px;">
      <%= render answer %>
      <p>
        <%= button_to "Destroy this answer", quiz_question_answer_path(@quiz, @question, answer), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        <%= link_to "Edit this answer", edit_quiz_question_answer_path(@quiz, @question, answer) %>
      </p>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "<- Back to quiz", quiz_path(@quiz) %> |
  <%= link_to "Edit this question", edit_quiz_question_path(@quiz, @question) %> |
  <%= link_to "New answer", new_quiz_question_answer_path(@quiz, @question) %>

  <%= button_to "Destroy this question", quiz_question_path(@quiz, @question), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>
