<%= form_with(model: quiz) do |form| %>
  <%= form_errors quiz %>

  <fieldset>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, required: true %>
  </fieldset>

  <div class="form-controls-container">
    <%= back_button %>
    <%= form.submit %>
  </div>
<% end %>
