<% content_for :title, "Quizzes" %>

<div class="page-header">
  <h1>Quizzes</h1>
  <div class="page-header-controls">
    <%= button_to "<b>+</b> New".html_safe, new_quiz_path, method: :get %>
  </div>
</div>

<article id="quizzes">
  <ul class="resource-list">
    <% @quizzes.each do |quiz| %>
      <li id="<%= dom_id(quiz) %>">
        <div class="left">
          <%= link_to quiz.title, quiz_path(quiz) %>
          <br>
          <small><b>Questions:</b> <%= quiz.questions.count %></small>
        </div>
      </li>
      <hr>
    <% end %>
  </ul>
  <%= button_to "<b>+</b> New quiz".html_safe, new_quiz_path, method: :get, class: "primary outline" %>
</article>
