<%= turbo_stream_from game_question %>

<div class="questions-content">
  <%= content_for :top do %>
    <div class="questions-header">
      <small>
        Question <b><%= @game.current_question_position %></b> of <b><%= @game.game_questions.count %></b>
      </small>
      <% if game_question.answering? %>
        <h3 class="questions-header-center m-0">
          <%= render "games/components/timer", game_question: game_question, seconds: game_question.question.duration %>
        </h3>
      <% end %>
      <%= render "games/components/questions_header_actions", game_question: game_question, host_user: host_user?, scoreboard: true %>
    </div>
  <% end %>

  <% case game_question.current_phase %>
  <% when "idle" %>

    <div class="questions-reading">
      <article>
        <h1>Waiting for the worker to start...</h1>
      </article>
    </div>
  <% when "reading" %>

    <div class="questions-reading">
      <article>
        <h1><%= game_question.question.text %></h1>
      </article>
      <div class="timer-wrapper">
        <h2>
          <%= render "games/components/timer", game_question: game_question, seconds: 5 %>
        </h2>
      </div>
    </div>

  <% when "answering" %>

    <div class="questions-answering">
      <% if game_question.question.image.representable? %>
        <figure>
          <%= image_tag game_question.question.image.representation(resize_to_limit: [740, 740]), alt: "Question Image" %>
        </figure>
      <% end %>
      <div style="<%= game_question.question.image.representable? ? 'margin-top: 1rem' : 'margin-top: 20vh' %>;">
        <article>
          <header>
            <h5><%= game_question.question.text %></h5>
          </header>
          <%= render "games/components/answers", game: @game, game_question: game_question, game_player: @game_player %>
        </article>
      </div>
    </div>

  <% when "completed" %>

    <div class="questions-completed">
      <div class="questions-completed-results">
        <%= render "games/components/results", game: @game, game_question: game_question %>
      </div>
    </div>

    <%= render "games/components/answers", game: @game, game_question: game_question, game_player: @game_player %>

  <% end %>
</div>
