<%= turbo_stream_from game_question %>

Question <%= @game.current_question_position %> of <%= @game.game_questions.count %>

<% case game_question.current_phase %>
<% when "idle" %>
  Probably waiting for the worker to start... 
<% when "reading" %>
  <%= render "games/components/timer", game_question: game_question, seconds: 5 %>
  reading

  <%= game_question.question.text %>
<% when "answering" %>
  <%= render "games/components/timer", game_question: game_question, seconds: game_question.question.duration %>
  answering

  <%= render "games/components/answers", game: @game, game_question: game_question, game_player: @game_player %>
<% when "completed" %>
  completed

  <hr>
  <%= render "games/components/scoreboard", game: @game %>
  <hr>

  <% answers_count = game_question.answers_count %>
  <% game_question.question.answers.each do |answer| %>
    <div>
      <%= answers_count[answer.id] || 0 %>
    </div>
  <% end %>

  <%= render "games/components/answers", game: @game, game_question: game_question, game_player: @game_player %>

  <% if host_user? %>
    <%= button_to @game.current_question_position == @game.game_questions.count ? "Scoreboard" : "Next question", next_question_game_path(@game), method: :get %>
  <% end %>
<% end %>
