<%= form_with(model: [@quiz, @question, answer]) do |form| %>
  <%= form_errors answer %>

  <fieldset>
    <%= form.label :text %>
    <%= form.text_field :text, required: true %>

    <label>
      <%= form.checkbox :correct %>
      Correct
    </label>
  </fieldset>

  <div class="form-controls-container">
    <%= back_button %>
    <%= form.submit %>
  </div>
<% end %>
