<%# locals: (game:, game_question:, game_player:) -%>

<div id="<%= dom_id(game, :answers) %>">
  <% if host_user? || game_question.completed? %>
    <div class="answers-grid">
      <% game_question.question.answers.each_with_index do |answer, index| %>
        <div class="answer-choice">
          <% if answer.correct %>
            <%= render_answers_label("answer_#{answer.id}", answer.text, index, correct: true) %>
          <% else %>
            <% player_answer = game_player&.find_answer_for(game_question) %>
            <%= render_answers_label(
                "answer_#{answer.id}",
                answer.text,
                index,
                selected: answer == player_answer&.answer
              ) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= form_with url: player_answer_game_path(game), data: { turbo_method: "post", controller: "answers" } do |f| %>
      <%= f.hidden_field :game_question_id, value: game_question.id %>
      <div class="answers-grid">
        <% if player_answer = game_player.find_answer_for(game_question) %>
          <% game_question.question.answers.each_with_index do |answer, index| %>
            <div class="answer-choice">
              <%= f.radio_button :selected_answer_id, answer.id, id: "answer_#{answer.id}", checked: answer == player_answer.answer, disabled: true, class: "hidden-radio" %>
              <%= render_answers_label("answer_#{answer.id}", answer.text, index) %>
            </div>
          <% end %>
        <% else %>
          <% game_question.question.answers.each_with_index do |answer, index| %>
            <div class="answer-choice">
              <%= f.radio_button :selected_answer_id, answer.id, id: "answer_#{answer.id}", data: { action: "answers#submit", answers_target: "choice" }, class: "hidden-radio" %>
              <%= render_answers_label("answer_#{answer.id}", answer.text, index) %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
